<%- include('header') -%>

<div class="ui main text container segment">
  <div class="ui huge header">New Blog</div>

  <form class="ui form" action="/blogs" method="post">
    <div class="field">
      <label>Title</label>
      <input type="text" name="title" value="" placeholder="title">
    </div>
    <div class="field">
      <label>Image</label>
        <input type="text" name="image" value="" placeholder="image url">
    </div>
    <div class="field">
      <label>Body</label>
      <textarea name="body" rows="8" cols="80" placeholder="blog post data here"></textarea>
    </div>
    <input class="ui violet basic button" type="submit" name="" value="submit">
  </form>

</div>

<%- include('footer') -%>
